<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Infos Du Produit  No:{{data.id}}</mat-card-title>
      <mat-card-subtitle>Nom du produit: {{data.nom}}</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
        <h3>Unité de mesure : {{data.unite}}</h3>
        <h3>Prix: {{data.prix | currency: 'Eur'}}</h3>
        <h3>Date de Disponibilité: {{data.dateDispo}}</h3>
        <h3>Status: {{data.statut}}</h3>
        <p>Description: {{data.description}}</p>
    </mat-card-content>
  </mat-card>